#schedule_component{
    margin: 0 auto;
    height: 100%;

}

.titleDate{
    display: flex;
}

.content{
    max-height:75%;
    overflow: auto;
    overflow-x: hidden;
}
.modal{
    overflow: hidden;
    height: 90%;
    margin: 2%;
    
}

.top{
    display: flex;
    justify-content:space-between;
    margin-bottom: 2%;
}

.bottom{
    display: flex;
    justify-content:space-between;
}

.date{
    display: flex;
    justify-content: space-between;
}

.calendar_icon{
    position: absolute;
    right:0px;
    bottom:0px;
}